<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Demo</title>
    <style>
        #user-id {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Notification Demo</h1>
    <button id="notification-btn"><%= notification ? 'Disable Notifications' : 'Enable Notifications' %></button>

    <div>Google ID: <%= googleID %></div>

    <script src="/js/client.js"></script>
</body>
</html>
